<header class="main-header">
  <!-- Navigation -->
  <div class="b-nav">
    <li><a class="b-link" href="/" target="_self">Home</a></li>
    <li><a class="b-link" href="/projects" target="_self">Projects</a></li>
    <li><a class="b-link" href="/blog" target="_self">Blog</a></li>
    <li><a class="b-link" href="/about" target="_self">About Me</a></li>
    <li><a class="b-link" href="/contact" target="_self">Contact</a></li>
  </div>

  <!-- Burger-Icon -->
  <div class="b-container">
    <div class="b-menu">
      <div class="b-bun b-bun--top"></div>
      <div class="b-bun b-bun--mid"></div>
      <div class="b-bun b-bun--bottom"></div>
    </div>

    <!-- Menu -->
    <a href="#" class="b-brand">Menu</a>
  </div>
</header>